* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
	height : 100%
}

body {
    background-color: #EEEEEE;
}

/* Header */

.header {
    width : 100%;
    min-width : 1600px;
    height: 100px;
    background-color : #FFFFFF;
    display: flex;
    position : fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 -5px 5px -5px #333;
}

.header .title {
    font-size: 30px;
    margin-left: 50px;
}

.header .todo_add_Btn {
    margin-right: 50px;
}

/* End Header */

/* Container */

.container {
    padding-top : 100px;
    height : 100%;
    display: flex;
    flex-direction: row;
}

/* Sidebar */

.sidebar {
    width: 300px;
    height: 100%;
    min-height : 860px;
    display: flex;
    flex-shrink : 0;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset -5px 0 5px -5px #868282;
}

.category_add {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px 0 0 45px;
}

.category_add_text {
    margin-left: 6px;
}

.category_item {
    display: flex;
    flex-direction: row;
    align-items: center;  
    padding: 32px 0 0 52px;
} 

.category_item_defalt {
    display: flex;
    flex-direction: row;
    align-items: center;  
    padding: 32px 0 0 52px;
} 

.category_icon_all {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 100%;
    background-color: #90A4AE;
}

.category_icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 100%;
    position: relative;
}

.hidebox_chk {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin: 0 0 32px 52px
}

/* End Sidebar */

/* Contents */

.contents .sort {
    display: flex;
    flex: row;
    align-items: center;
    padding-bottom: 41px;
}

.contents .sort img{
    width: 40px;
    height: 40px;
}

.sort_text {
    margin-left: 8px;
}

.contents {
    padding: 52px 0 0 48px;
    color: #283593;
    font-weight: 700;
}

.todo_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 48px;
}

.todo_item {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    box-shadow: 0px 8px 5px -2px rgb(185, 184, 184);
}

.todo_text {
    padding: 22px 24px 19px 28px;
}

.todo_text_header {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.todo_text_header .todo_title {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.todo_text_header .dday {
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 14px;
    font-weight: 500;
}

.todo_contents {
    height: 100px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    word-break:break-all;
    padding-top: 15px;
}

.todo_text_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    font-weight: 500;
}

.active_chk {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin: 0 0 32px 52px
}

/* End Contents */

/* End Container */

.category_modal {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 500px;
    height: 320px;
    background-color: white;
    border-radius: 30px;
    z-index: 1;
    display: none;
}

.category_modal_contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.category_modal_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category_modal_color {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.category_title_text {
    font-size: 20px;
    font-weight: 700;
}

.category_maximum {
    color: #4e558b;
}

.color_title {
    font-size: 18px;
    padding-bottom: 10px;
}

.category_modal_Name {
    font-size: 18px;
}

.category_modal_Name_text {
    margin-top: 15px;
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-width: 0 0 1px;
}

.category_btn {
    font-size: 20px;
}

.gray_icon {
    background-color: #90A4AE; 
    border-radius: 30px;
}

.red_icon {
    background-color: #E57373; 
    border-radius: 30px;
}

.green_icon {
    background-color: #81C784;
    border-radius: 30px;
}

.blue_icon {
    background-color: #64B5F6;
    border-radius: 30px;
}

.category_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.category_del {
    color: darkslategrey;
    display: none;
    position: absolute;
    left: 250px;
}

.category_item:hover .category_del {  /*hover시 표시되는 위치 고정하고 싶음, 근데 못했음*/
    display: block;
}

.todo_modal {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 30px;
    display: none;
    z-index: 1;
}

.todo_modal_color {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.category_todo_items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.todo_modal_contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.todo_modal_header {
    font-size: 20px;
    font-weight: 700;
}

.todo_modal_title, .todo_modal_text{
    font-size: 18px;
}

.todo_modal_Name_text {
    margin-top: 7px;
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-width: 0 0 1px;
}

.todo_modal_contents_text {
    margin-top: 7px;
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-width: 0 0 1px;
}

.todo_icon {
    width: 30px;
    height: 30px;
}

.todo_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
}


/* edit */
.edit_modal {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 30px;
    display: none;
    z-index: 1;
}

.edit_modal_contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.edit_modal_header {
    font-size: 20px;
    font-weight: 700;
}

.edit_modal_color {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.edit_modal_title, .edit_modal_text{
    font-size: 18px;
}

.edit_modal_Name_text {
    margin-top: 7px;
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-width: 0 0 1px;
}

.edit_modal_contents_text {
    margin-top: 7px;
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-width: 0 0 1px;
}

.dim {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.3);
    display: none;
}

input[type="date"] {
    width: 100%;
    font-size: 20px;
    border-width: 0 0 1px;
}

.required_items {
    background-color: #ec533f;
    color: #EEEEEE;
    font-size: 12px;
    border-radius: 20px;
    display: inline-block;
    margin-left: 5px;
    width: 60px;
    padding-left: 6px;
}